<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>OccasionLink</title>
</head>
<body>
  <nav class="bg-gray-800">
    <ul class="flex justify-end items-center space-x-4 py-4">
      <li>
        <a href="/event-create" class="text-white hover:text-gray-300">Create Event</a>
      </li>
      <li>
        <a href="/user-create" class="text-white hover:text-gray-300">User Create</a>
      </li>
      <li>
        <a href="/user-profile" class="text-white hover:text-gray-300">Sign In</a>
      </li>
    </ul>
  </nav>

  <router-outlet ngSkipHydration></router-outlet>

  <footer class="text-center text-lg-start bg-light text-muted custom-footer">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>OccasionLink
            </h6>
            <p>
              OccasionLink aims to simplify the process of creating, managing, and attending events. The project addresses the need for a user-friendly platform where users can easily organize events, 
              invite participants, and manage event details
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p><a href="#!" class="text-reset">Pricing</a></p>
            <p><a href="#!" class="text-reset">Settings</a></p>
            <p><a href="#!" class="text-reset">Orders</a></p>
            <p><a href="#!" class="text-reset">Help</a></p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Tunis, TU</p>
            <p><i class="fas fa-envelope me-3"></i> yosrahabouria&#64;gmail.com</p>
            <p><i class="fas fa-phone me-3"></i> +21621805459</p>
            <p><i class="fas fa-print me-3"></i> +21805459</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold">OccasionLink.com</a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
